Repository oparry-ukaea/hermes-3: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

.codecov.yml:

ignore:
  - "tests"
  - "external"

codecov:
  branch: master

coverage:
  status:
    project:
      unit:
        target: auto
        flags:
          - unit
      integration:
        target: auto
        threshold: 5%
        flags:
          - integration
      # default:
      #   target: auto
      #   flags:
      #     - unit

flags:
  unit:
    paths:
      - "src"
      - "include"
  integration:
    paths:
      - "src"
      - "integration"
      - "hermes-3.cxx"
      - "hermes-3,hxx"

Fixed typo
  .codecov.yml
Due: none

interrogate /proc/cpuinfo
  .github/workflows/tests.yml
Due: none

Trying to clarify how coverage reports displayed in PRs
  .codecov.yml
Due: none

Build int tests in Debug
  .github/workflows/tests.yml
Due: none

Run only the 1D-recycling-dthe test
  .github/workflows/tests.yml
Due: none

Revert "interrogate /proc/cpuinfo"
  .github/workflows/tests.yml
Due: none

Revert "echo gcc flags used with -O3"
  .github/workflows/tests.yml
Due: none

Revert "echo gcc defaults before building"
  .github/workflows/tests.yml
Due: none

Fix use of `LaplaceXY` for new BOUT++ version
  include/vorticity.hxx
  src/vorticity.cxx
Due: unit, integration

Rejig D-T-He1D-recycling test to use a single set of reference data, but relax tolerances when testing optimised builds.
  tests/integrated/1D-recycling-dthe/runtest
Due: none

Build bout with mumps.
  spack.yaml
Due: none

Update spack env wrapper script to handle boutpp build links.
  activate_h3env
Due: none

Hack to ignore spack builds in submodule.
  activate_h3env
Due: none

Collect coverage data only for unit tests
  .codecov.yml
  .github/workflows/tests.yml
  README.md
Due: none

Use the BOUT++ sanitizers cmake configs
  CMakeLists.txt
  cmake/Sanitizers.cmake
Due: none

Satisfy CMake when compiling with coverage flags
  .github/workflows/tests.yml
Due: none

Fixed a few runtime errors found with integration testing
  src/braginskii_conduction.cxx
Due: unit, integration

Updated documentation to reflect refactor of closure
  docs/sphinx/closure.rst
  docs/sphinx/developer.rst
  docs/sphinx/equations.rst
Due: none

Reverted breaking change
  src/braginskii_friction.cxx
Due: unit, integration

Avoid converting double to float
  tests/unit/test_braginskii_conduction.cxx
  tests/unit/test_braginskii_electron_viscosity.cxx
  tests/unit/test_braginskii_friction.cxx
  tests/unit/test_braginskii_heat_exchange.cxx
  tests/unit/test_braginskii_ion_viscosity.cxx
  tests/unit/test_braginskii_thermal_force.cxx
Due: none

Ensure all Braginskii components included in hermes3 binary
  hermes-3.cxx
  include/braginskii_collisions.hxx
  include/braginskii_conduction.hxx
  include/braginskii_electron_viscosity.hxx
  include/braginskii_friction.hxx
  include/braginskii_heat_exchange.hxx
  include/braginskii_ion_viscosity.hxx
  include/braginskii_thermal_force.hxx
Due: unit, integration

Ensure recycling is run after conduction
  docs/sphinx/equations.rst
  examples/tokamak-1D/1D-threshold/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen-equalT/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen/qn/BOUT.inp
  examples/tokamak-1D/extra/1D-neon-source/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling-with-Tt-control/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling-with-detachment-control/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling/cvode/BOUT.inp
  examples/tokamak-1D/extra/solkit-comparison/single-temperature/BOUT.inp
  examples/tokamak-1D/extra/solkit-comparison/two-temperatures/BOUT.inp
  examples/tokamak-2D/recycling-dthe-drifts/BOUT.inp
  examples/tokamak-2D/recycling-dthe/BOUT.inp
  examples/tokamak-2D/recycling-dthene/BOUT.inp
  examples/tokamak-2D/recycling/BOUT.inp
  include/braginskii_ion_viscosity.hxx
  tests/integrated/collfreq-braginskii-afn/data/BOUT.inp
  tests/integrated/collfreq-multispecies/data/BOUT.inp
Due: unit

Add tests for thermal force
  src/thermal_force.cxx
  tests/unit/test_braginskii_heat_exchange.cxx
  tests/unit/test_braginskii_thermal_force.cxx
Due: unit, integration

Rename closure classes
  CMakeLists.txt
  hermes-3.cxx
  include/braginskii_collisions.hxx
  include/braginskii_electron_viscosity.hxx
  include/braginskii_ion_viscosity.hxx
  include/braginskii_thermal_force.hxx
  src/braginskii_collisions.cxx
  src/braginskii_electron_viscosity.cxx
  src/braginskii_ion_viscosity.cxx
  src/braginskii_thermal_force.cxx
  tests/unit/test_braginskii_collisions.cxx
  tests/unit/test_braginskii_electron_viscosity.cxx
  tests/unit/test_braginskii_friction.cxx
  tests/unit/test_braginskii_heat_exchange.cxx
  tests/unit/test_braginskii_ion_viscosity.cxx
  tests/unit/test_braginskii_thermal_force.cxx
Due: unit, integration

Added files for separate Braginskii components
  CMakeLists.txt
  include/braginskii_conduction.hxx
  include/braginskii_friction.hxx
  include/braginskii_heat_exchange.hxx
  src/braginskii_conduction.cxx
  src/braginskii_friction.cxx
  src/braginskii_heat_exchange.cxx
Due: unit, integration

Ensured thermal conduction is last component
  examples/other/equilibriate/BOUT.inp
  examples/other/linear/annulus-te-he-fixedneutrals/BOUT.inp
  examples/stellarator-1D/stellarator-2pt-model/BOUT.inp
  examples/tokamak-1D/1D-threshold/BOUT.inp
  examples/tokamak-1D/extra/1D-conduction/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen-equalT/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen/qn/BOUT.inp
  examples/tokamak-1D/extra/1D-neon-source/BOUT.inp
  examples/tokamak-1D/extra/1D-neon/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling-with-Tt-control/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling-with-detachment-control/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling/cvode/BOUT.inp
  examples/tokamak-1D/extra/1D-sheath-conduction/BOUT.inp
  examples/tokamak-1D/extra/solkit-comparison/single-temperature/BOUT.inp
  examples/tokamak-1D/extra/solkit-comparison/two-temperatures/BOUT.inp
  examples/tokamak-2D/diffusion-conduction/BOUT.inp
  examples/tokamak-2D/diffusion-transport/BOUT.inp
  examples/tokamak-2D/heat-transport/BOUT.inp
  examples/tokamak-2D/recycling-dthe-drifts/BOUT.inp
  examples/tokamak-2D/recycling-dthe/BOUT.inp
  examples/tokamak-2D/recycling-dthene/BOUT.inp
  examples/tokamak-2D/recycling/BOUT.inp
  examples/tokamak-2D/turbulence/BOUT.inp
  examples/tokamak-3D/tcv-x21/data/BOUT.inp
  tests/integrated/1D-recycling/data/BOUT.inp
Due: none

Add note about preconditioning and conduction
  src/evolve_energy.cxx
  src/evolve_pressure.cxx
Due: unit, integration

Apply suggestions from code review
  src/braginskii_friction.cxx
Due: unit, integration

Fix up comments/docstrings
  include/braginskii_friction.hxx
  src/braginskii_friction.cxx
  tests/unit/test_braginskii_friction.cxx
Due: unit, integration

Fixed bug in for the Braginskii viscosity collisions mode
  src/braginskii_ion_viscosity.cxx
  tests/unit/test_braginskii_collisions.cxx
Due: unit, integration

Removed unused configuration
  include/braginskii_collisions.hxx
  src/braginskii_collisions.cxx
Due: unit, integration

Give more meaningful names to helper methods
  tests/unit/test_braginskii_conduction.cxx
  tests/unit/test_braginskii_thermal_force.cxx
Due: none

Update integration tests/examples for latest closure refactor
  examples/other/equilibriate/BOUT.inp
  examples/other/linear/annulus-te-he-fixedneutrals/BOUT.inp
  examples/stellarator-1D/stellarator-2pt-model/BOUT.inp
  examples/tokamak-1D/1D-threshold/BOUT.inp
  examples/tokamak-1D/extra/1D-conduction/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen-equalT/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen/BOUT.inp
  examples/tokamak-1D/extra/1D-hydrogen/qn/BOUT.inp
  examples/tokamak-1D/extra/1D-neon-source/BOUT.inp
  examples/tokamak-1D/extra/1D-neon/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling-with-Tt-control/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling-with-detachment-control/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling/BOUT.inp
  examples/tokamak-1D/extra/1D-recycling/cvode/BOUT.inp
  examples/tokamak-1D/extra/1D-sheath-conduction/BOUT.inp
  examples/tokamak-1D/extra/solkit-comparison/single-temperature/BOUT.inp
  examples/tokamak-1D/extra/solkit-comparison/two-temperatures/BOUT.inp
  examples/tokamak-2D/diffusion-conduction/BOUT.inp
  examples/tokamak-2D/diffusion-transport/BOUT.inp
  examples/tokamak-2D/heat-transport/BOUT.inp
  examples/tokamak-2D/recycling-dthe-drifts/BOUT.inp
  examples/tokamak-2D/recycling-dthe/BOUT.inp
  examples/tokamak-2D/recycling-dthene/BOUT.inp
  examples/tokamak-2D/recycling/BOUT.inp
  examples/tokamak-2D/turbulence/BOUT.inp
  examples/tokamak-3D/tcv-x21/data/BOUT.inp
  tests/integrated/1D-recycling/data/BOUT.inp
Due: none

Apply clang-format
  hermes-3.cxx
  include/braginskii_collisions.hxx
  include/braginskii_conduction.hxx
  include/braginskii_electron_viscosity.hxx
  include/braginskii_friction.hxx
  include/braginskii_heat_exchange.hxx
  include/braginskii_ion_viscosity.hxx
  include/braginskii_thermal_force.hxx
  include/evolve_energy.hxx
  include/evolve_pressure.hxx
  src/braginskii_collisions.cxx
  src/braginskii_conduction.cxx
  src/braginskii_electron_viscosity.cxx
  src/braginskii_friction.cxx
  src/braginskii_heat_exchange.cxx
  src/braginskii_ion_viscosity.cxx
  src/evolve_energy.cxx
  src/evolve_pressure.cxx
  tests/unit/test_braginskii_collisions.cxx
  tests/unit/test_braginskii_conduction.cxx
  tests/unit/test_braginskii_electron_viscosity.cxx
  tests/unit/test_braginskii_friction.cxx
  tests/unit/test_braginskii_heat_exchange.cxx
  tests/unit/test_braginskii_ion_viscosity.cxx
  tests/unit/test_braginskii_thermal_force.cxx
Due: unit, integration

Fixed test of braginskii viscosity collisionality mode
  tests/integrated/collfreq-braginskii-afn/runtest
Due: none

Ensured new names used in headers
  include/braginskii_electron_viscosity.hxx
  include/braginskii_thermal_force.hxx
Due: unit

Separate heat exchange from collisions
  include/braginskii_collisions.hxx
  include/braginskii_heat_exchange.hxx
  src/braginskii_collisions.cxx
  src/braginskii_heat_exchange.cxx
  tests/unit/test_braginskii_heat_exchange.cxx
Due: unit, integration

Add tests for ion viscosity
  src/ion_viscosity.cxx
  tests/unit/test_braginskii_conduction.cxx
  tests/unit/test_braginskii_ion_viscosity.cxx
Due: unit, integration

Create tests for friction and heat transfer
  src/collisions.cxx
  tests/unit/test_braginskii_collisions.cxx
  tests/unit/test_braginskii_friction.cxx
  tests/unit/test_braginskii_heat_exchange.cxx
Due: unit, integration
